* {
  color: #fefefe;
}
.container {
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container > h1 {
  align-items: center;
  font-weight: bold;
  margin-bottom: 64px;
}
.container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container > div > form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid #fefefe;
  height: 40vh;
  width: 70vw;
  margin: 32px;
}
.container > div > form > input {
  background-color: var(--background);
}
.container > div > form > button {
  background-color: var(--green);
  border: 2px solid #fefefe;
  border-radius: 24px;
  padding: 36px;
  width: 256px;
  margin: 16px;
  font-weight: bold;
  transition: 0.5s;
}
.container > div > form > button:hover {
  background-color: #fefefe;
  color: var(--green);
  border: 2px solid var(--green);
  transition: 0.5s;
}
.container > div > button {
  background-color: var(--red);
  border: 2px solid #fefefe;
  border-radius: 24px;
  padding: 36px;
  width: 256px;
  margin: 16px;
  font-weight: bold;
  transition: 0.5s;
}
.container > div > button:hover {
  background-color: #fefefe;
  color: var(--red);
  border: 2px solid var(--red);
  transition: 0.5s;
}
